@import '../../styles/vars';


.articles {

  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .article {
    width: 45%;
    margin: 1em auto;
    
    .article-title {
      font-weight: bold;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    .article-category {
      margin-top: 0.5em;
      padding: 0.5em 1em;
      background-color: $main;
      display: inline-block;
      color: $category;
      text-transform: uppercase;
    }

    .article-body {
      padding: 1em 0;
      line-height: 1.8em;
      color: $article;
    }
  }
}