@import '../../styles/vars';


.header {
  width: 100%;
  line-height: 2.3em;
  .navigation{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

    
    .nav-list{
      display: flex;
      justify-content: space-around;
      height: 15vh;
      align-items: center;

      .nav-items{
        color: $article;
      }
    }
  }

  .header-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: $main;
    margin: 2em 0;
  }
}